body {
  display:flex;
  flex-direction: column;

  //margin: 80px;
}

table {
  table-layout: fixed;
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;

}

th,
td {
  padding: 0.6em;
  border: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

tbody tr:nth-child(even) {

}

#addBookButton {
  width: 80px;
  height: 30px;
  margin-left: 80px; 
}

dialog {
  width: 300px;
  height: 200px;

}

#label1 {
  display: inline-block;
  width: 60px;
}

form {
  display:flex;
  flex-direction: column;
  gap: 10px;
}

input:focus(:invalid) {
  border: red;
}

#radio-bool {
  margin-left:30px;
}

#true-radio-div {
  display:flex;
  gap: 2px;
} 

#div-buttons {
  margin-top: 20px;
  display:flex;
  gap: 30px;
}


